.var {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  border-style: dotted;
  border-color: black;
  opacity: 0.95;
}
 
.var:hover {border-style: solid;
            opacity: 1;
}

 body {
 background-color: #cccccc;
}

pre {
  margin-top: 80px;
  margin-left: 450px;
  color: black;
  text-decoration: underline grey;
}
